body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #0c003f;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(58, 0, 165);
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 5% 0px;

}

.produtos li{ 
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 3% 2%;
    box-sizing: border-box;
    border: 2px solid  rgb(58, 0, 165);
    border-radius: 20px;
}

.produtos li:hover{
    border-color: #0c003f;
}

.produtos li:active{
    border-color: #03dffc;
    
}

.produtos li:hover h2{
    font-size: 32px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
    
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.nomeAutor{
    color: #ffffff;
    font-size: 17px;
    margin: 20px 0 0;
}

.copyright{
    color: #ffffff;
    font-size: 17px;
    margin: 2px 0 0;
}

footer{
    text-align: center;
    background: linear-gradient(#ffffff, BLACK);
    padding: 40px 0;
}

@media screen and (max-width: 480px) {

    .caixa, .produtos, .produto-descricao, .produto-preco{
        width: auto;
    }

    h1{
        text-align: center;
    }

    .produtos li{
        margin-top: 15%;
        position: static;
        width: auto;
        padding: 15%;        
    }

    footer{
        margin-top: 10%;
    }

    nav {
        position: static;
        text-align: center;
    }
 }